$p-orange: hsl(26, 100%, 55%);
$pa-orange: hsl(25, 100%, 94%);

$vdb: hsl(220, 13%, 13%);
$dgb: hsl(219, 9%, 45%);
$gb: hsl(220, 14%, 75%);
$lgb: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$balck-bg: hsl(0, 0%, 75%);
